<section id="galerie">

  <div class="container">
    <div class="section-header animate-on-scroll">
      <div class="section-badge"><i class="fas fa-images"></i> Galerie</div>
      <h2>Découvrez Notre Établissement en Images</h2>
      <p>Un aperçu visuel de notre cadre d'apprentissage, nos activités et nos infrastructures.</p>
    </div>

    <div class="galerie-grid animate-on-scroll">
      <div class="galerie-item">
        <div class="galerie-item-bg">
          <img src="src/assets/004.jpeg" alt="Vue de l'établissement">
        </div>
      </div>
      <div class="galerie-item">
        <div class="galerie-item-bg">
          <img src="/assets/002.jpeg" alt="Salle informatique">
          <!-- <span class="label">Salle Info</span> -->
        </div>
      </div>
      <div class="galerie-item">
        <div class="galerie-item-bg">
          <img src="src/assets/003.jpeg" alt="Bibliothèque">
          <!-- <span class="label">Bibliothèque</span> -->
        </div>
      </div>
      <div class="galerie-item">
        <div class="galerie-item-bg">
          <img src="src/assets/005.jpeg" alt="Laboratoire">
          <span class="label"></span>
        </div>
      </div>
      <div class="galerie-item">
        <div class="galerie-item-bg">
          <img src="src/assets/006.jpeg" alt="Terrain de sport">
          <!-- <span class="label"></span> -->
        </div>
      </div>
    </div>
  </div>
</section>